<div class="navbar">
    <div class="navbar-left">
        <img src="transparent adept logo.png" alt="Logo" class="logo-image" />
        <a class="product-text" [routerLink]="'/'">El Gringo Analytics Ltd.</a>
    </div>
    <nav class="nav-items">
        <a routerLink="/home" class="nav-link">Home</a>
        <a routerLink="/ideas" class="nav-link">Analytics</a>
        <a routerLink="/projects" class="nav-link">Projects</a>
        <a routerLink="/user-manual" class="nav-link">User Manual</a>
    </nav>
</div>
